# === Gradle files ===
.gradle/
build/
output-metadata.json

# === Local configuration files ===
local.properties

# === Android Studio/IntelliJ IDEA ===
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# === Native builds ===
.externalNativeBuild/
.cxx/

# === Log and OS files ===
*.log
.DS_Store

# === App artifacts ===
*.apk
*.aab

# === Keystore files ===
*.jks
*.keystore

# === Captures and profiling ===
captures/
*.hprof

# === Google services ===
google-services.json

